body {
  background: #ddd;
  /* background: rgb(149,149,149);
  background: radial-gradient(circle, rgba(149,149,149,1) 0%, rgba(255,239,255,1) 100%); */
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}



input {
	display: block;
}

img {
	max-width: 300px;
}

h2 {
	color: rgb(0, 0, 0);
	margin-bottom: 30px;

	/* background: #ddd;
	background: linear-gradient(280deg, #ddd 0%, rgb(247, 137, 68) 100%); */
}

#duckImage2 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}


.skills {
	color:blueviolet;
	background-color: bisque;
	border: 1px solid #00ff6e;
	padding: 10px;
	margin-top: 20px;
	width: 80%;
	/* border-radius: 5px; */
	margin-left: auto;
	margin-right: auto;
}

.p {
	color: blueviolet;
	font-weight: bold;
	margin-bottom: 15px;
}

.skills li {
	margin-bottom: 5px;
}

/* .skills-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
} */

.container1 {
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

iframe {
	border-radius: 12px;
	width: 100%;
	height: 352px;
}
/* #contact div {
	display: flex;
	flex-direction: column;
}

#contact label {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	order: 1px;
}

#contact input[type = "checkbox"] {
	margin-right: 10px;
	align-self: flex-start;
} */

.checkbox-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
	margin-right: 10px;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.f-button {
	background-color: yellow;
	font-size: 25px;
	padding: 12px;
	margin-bottom: 10px;
}